@{
    ViewData["Title"] = "Home Page";
}


<div class="container-flex">

    <section id="modalJS" class="modal-replyes">
        <div class="modal-container">
            <div class="modal-container__replyes">

                <div class="answer">
                    <h3 class="answer-author">Popescu George</h3>
                    <p class="answer-string"> Va pup! </p>
                </div>
                <div class="answer">
                    <h3 class="answer-author">Popescu George</h3>
                    <p class="answer-string"> Stie cineva sa rezolve problema aia grea ? </p>
                </div>
                <div class="answer">
                    <h3 class="answer-author">Popescu George</h3>
                    <p class="answer-string"> Stie cineva sa rezolve problema aia grea ? </p>
                </div>
                <div class="answer">
                    <h3 class="answer-author">Popescu George</h3>
                    <p class="answer-string"> Stie cineva sa rezolve problema aia grea ? </p>
                </div>
            </div>
            <div class="modal-container__input">
                <input class="chat-form__input chat-form__input--modal" type="text" name="question"><br>
                <div class="buttons__container buttons__container--modal">
                    <input class="chat-form__button" type="submit" value="Submit">
                </div>
            </div>
        </div>
    </section>

    <section id="modalRoomcode" class="modal-roomcode">

        <div class="modal-roomcode__inputcontainer">
            <h3 class="roomcode-popup-text">Room code:</h3>
            <input class="modal-roomcode__input" type="text" name="Code">
            <input class="chat-form__button" type="submit" value="Submit">
        </div>


    </section>

    <section class="questions">
        <div class="questions__content" id="questions">

            <div class="question">

                <h1 class="question-string"> Please select a course </h1>

            </div>


        </div>
        <div class="questions__chat-container">
            <form method="POST" class="questions__chat-form">
                <input id="question" disabled for="questionStudent" class="chat-form__input" type="text" name="questionStudent"><br>
                <div class="buttons__container">
                    <input disabled id="questionStudent" class="chat-form__button" type="submit" value="Submit">
                </div>
            </form>

        </div>
    </section>
    <section class="courses">
        <h2 class="courses__title">Courses</h2>

        @{
            for (int courseNo = 0; courseNo < @ViewBag.courses.Count; courseNo++)
            {
                <div class="courses__flex">
                    <div class="course" id="@ViewBag.courses[courseNo].Id">
                        <span class="course__title">@ViewBag.courses[courseNo].Name</span>
                        <i id="@ViewBag.courses[courseNo].Id arrow" class="fas fa-arrow-up"></i>
                    </div>
                    <div class="rooms-flex" id="room @ViewBag.courses[courseNo].Id">


                    </div>
                </div>
            }
        }
    </section>
</div>

<script src="~/js/Student.js" asp-append-version="true"></script>