@{
    ViewData["Title"] = "Home Page";
}


<div class="container-flex">

    <section id="modalJS" class="modal-replyes">
        <div class="modal-container" id="containerJS">

        </div>
    </section>

    <section id="modalRoomcode" class="modal-roomcode">

        <div class="modal-roomcode__inputcontainer">
            <h3 class="roomcode-popup-text">Room code:</h3><span id="error-token"></span>
            <input id="token" class="modal-roomcode__input" type="text" name="Code">
            <input id="tokenButton" onclick="return CheckToken()"  class="chat-form__button" type="submit" value="Submit">
        </div>


    </section>

    <section class="questions">
        <div class="questions__content" id="questions">

            <div class="question">

                <h1 class="question-string"> Please select a course </h1>

            </div>


        </div>
        <div class="questions__chat-container" id="questionChatContainer">

            <form action="/AddQuestion" method="post" id="postQuestion" class="questions__chat-form">
                <input class="chat-form__input" id="question" type="text">
                <div class="buttons__container">
                   
                    <input id="questionStudent" onclick="return SendQuestion()" class="chat-form__button" type="submit" value="Submit">
                </div>
            </form>

        </div>
    </section>
    <section class="courses">
        <h2 class="courses__title">Courses</h2>

        @{
            for (int courseNo = 0; courseNo < @ViewBag.courses.Count; courseNo++)
            {
                <div class="courses__flex">
                    <div class="course" id="@ViewBag.courses[courseNo].Id">
                        <span class="course__title">@ViewBag.courses[courseNo].Name</span>
                        <i id="@ViewBag.courses[courseNo].Id arrow" class="fas fa-arrow-up"></i>
                    </div>
                    <div class="rooms-flex" id="room @ViewBag.courses[courseNo].Id">


                    </div>
                </div>
            }
        }
    </section>
</div>

<script src="~/js/Student.js" asp-append-version="true"></script>