@{
    ViewData["Title"] = "Home Page";
}

<div class="container-flex">
    <section id="modalJS" class="modal-replyes">
        <div class="modal-container">
            <div class="modal-container__replyes">

                <div class="answer">
                    <h3 class="answer-author">Popescu George</h3>
                    <p class="answer-string"> orem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae quam ut enim placerat vestibulum ut at nisi. Duis ullamcorper feugiat mauris, vel facilisis tortor feugiat vitae. Nam accumsan nibh ex, vel venenatis libero egestas at. Nam non faucibus nibh. Sed vitae mauris sed erat lobortis euismod at vitae diam. Donec scelerisque, arcu a euismod sollicitudin, ante felis maximus erat, ut consectetur augue nibh nec est. Praesent vel finibus odio, vel volutpat justo. Integer mauris augue, aliquam non diam maximus, facilisis tempor ligula. Maecenas elementum augue id mauris elementum pulvinar. Duis tempor mauris quis lacus aliquam fermentum. Nullam pharetra dolor a dui pulvinar feugiat. Morbi eget ipsum ut libero placerat sollicitudin. Phasellus eget erat vel ante ullamcorper suscipit sed id tellus. Morbi quis nisi luctus, malesuada odio at, sagittis libero. Sed sollicitudin urna metus, in iaculis leo pellentesque vulputate. Suspendisse dapibus nisl ex, et commodo eros interdum quis. </p>
                </div>
                <div class="answer">
                    <h3 class="answer-author">Popescu George</h3>
                    <p class="answer-string"> Stie cineva sa rezolve problema aia grea ? </p>
                </div>
                <div class="answer">
                    <h3 class="answer-author">Popescu George</h3>
                    <p class="answer-string"> Stie cineva sa rezolve problema aia grea ? </p>
                </div>
                <div class="answer">
                    <h3 class="answer-author">Popescu George</h3>
                    <p class="answer-string"> Stie cineva sa rezolve problema aia grea ? </p>
                </div>
            </div>
            <div class="modal-container__input">
                <input class="chat-form__input chat-form__input--modal" type="text" name="question"><br>
                <div class="buttons__container buttons__container--modal">
                      <input class="chat-form__button" type="submit" value="Submit">
                </div>
            </div>
        </div>
    </section>
    <section class="users">
        <h2 class="users__title">Online Users</h2>
        <div class="users__flex">
            @for (int i = 0; i < @ViewBag.students.Count; i++)
            {
            <div class="user">
                <h2 class="user__name">@ViewBag.students[i].LastName @ViewBag.students[i].FirstName</h2>
                <div class="users__status-container">
                    <i class="fas fa-minus-circle"></i>
                    <span class="dot"></span>
                </div>
            </div>
            }

        </div>
    </section>
    <section class="questions">
        <div class="questions__content" id="questions">
            @for (int i = 0; i < @ViewBag.questions.Count; i++)
            {
                <div class="question">
                    <h3 class="question-author">@ViewBag.owners[i]</h3>
                    <p class="question-string"> @ViewBag.questions[i].Content </p>
                    <a class="questions-answer__trigger" id="@ViewBag.questions[i].Id" href="#"> Vezi raspunsuri</a>
                </div>
            }

        </div>
        <div class="questions__chat-container">
            <form  method="POST"  class="questions__chat-form" >
                <input  for="questionProfessor" class="chat-form__input" type="text" name="questionProfessor"><br>
                <div class="buttons__container">
                    <button id="closeRoomJS" class="close-room">Close Room</button>
                    <input id="questionProfessor" class="chat-form__button" type="submit" value="Submit">
                </div>
            </form>
           
        </div>
    </section>
    <section class="courses">
        <h2 class="courses__title">Courses</h2>
        <div class="courses__flex">
            <div class="course" id="ML">
                <span class="course__title">Machine learning</span>
                <i id="MLarrow" class="fas fa-arrow-up"></i>
            </div>
            <div class="rooms-flex" id="roomML">
                <div class="room">
                    <span>Room 1</span>
                    <button class="rooms" id="room1JS">Join room</button>
                </div>
                <div class="room">
                    <span>Room 2</span>
                    <button class="rooms">Join room</button>
                </div>
                <div class="room">
                    <span>Room 3</span>
                    <button class="rooms">Join room</button>
                </div>
                <div class="add-room__container"> <button class="add-room__button">Add room</button> </div>
            </div>
        </div>
    </section>
</div>



