@{
    ViewData["Title"] = "Home Page";
}


<div class="container-flex">
    <section id="modalJS" class="modal-replyes">
        <div class="modal-container" id="containerJS">
           
        </div>
    </section>
    <section class="users">
        <h2 class="users__title">Online Users</h2>
        <div class="users__flex">
            @for (int i = 0; i < @ViewBag.students.Count; i++)
            {
                <div class="user">
                    <h2 class="user__name">@ViewBag.students[i].LastName @ViewBag.students[i].FirstName</h2>
                    <div class="users__status-container">
                        <i class="fas fa-minus-circle"></i>
                        <span class="dot"></span>
                    </div>
                </div>
            }

        </div>
    </section>
    <section class="questions">
        <div class="questions__content" id="questions">

            @for (int i = 0; i < @ViewBag.questions.Count; i++)
            {
                <div class="question">
                    <h3 class="question-author">@ViewBag.owners[i]</h3>
                    <p class="question-string"> @ViewBag.questions[i].Content </p>
                    <a class="questions-answer__trigger" id="@ViewBag.questions[i].Id" href="#"> Vezi raspunsuri</a>
                </div>
            }

        </div>
        <div class="questions__chat-container">
            <form action="/AddQuestion" method="post" id="postQuestion" class="questions__chat-form">
                <input  class="chat-form__input" id="question" type="text" >
                <div class="buttons__container">
                    <button id="closeRoomJS" class="close-room">Close Room</button>
                    <input id="questionProfessor" onclick="return SendQuestion()" class="chat-form__button" type="submit" value="Submit">
                </div>
            </form>

        </div>
    </section>
    <section class="courses">
        <h2 class="courses__title">Courses</h2>
        <div class="courses__flex">
            <div class="course" id="@ViewBag.course.Id">
                <span class="course__title">@ViewBag.course.Name</span>
                <i id="@ViewBag.course.Id arrow" class="fas fa-arrow-up"></i>
            </div>
            <div class="rooms-flex" id="room @ViewBag.course.Id">
                <div id="roomsContainer">
                    @{

                        for (int roomNo = 0; roomNo < @ViewBag.rooms.Count; roomNo++)
                        {
                            <div class="room">
                                <span>Room @(roomNo + 1)</span>
                                <button class="rooms" id=@ViewBag.rooms[roomNo].Id>Join room</button>
                            </div>

                        }
                    }
                </div>

                <div class="add-room__container">
                    
                    <button id="addRoomJS" class="add-room__button">Add room</button> 
                </div>
            </div>
        </div>
    </section>
</div>
<script src="~/js/site.js" asp-append-version="true"></script>


